/* Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border` */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.content { 
  display: grid;
}

.name { 
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;

}
/* 

flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vh;write your custom styling from this point forward */




/* OLD CSS 
h1 {
  font-size: 24px;
  color: #000000;
}

.nav-item
.nav-item ul {
    list-style-type: none;
    display: block;
    padding: 20px;
    animation: fadein 1.5s ease-in;
}

.nav-item li {
    display: inline-block;
    padding: 0px 20px;
    margin: 20px;
}

.nav-item ul li a {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
} */
